body {
  background-color: #20ED90;
  background-image: url("http://i.imgur.com/Y2tzy5l.jpg");
  background-size: 150px 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

}

a.menu_links {
    cursor: pointer;
}
